<!DOCTYPE html>
<html lang='Es'>
	<head>
		<title> ScoreApp Main Page </title>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="../static/scripts"></script> 
		<link rel="stylesheet" href="../static/styles/common.css">
		<link rel="stylesheet" href="../static/styles/header.css">
		<link rel="stylesheet" href="../static/styles/footer.css">
	</head> 
	<body>
		<header> ScoreApp: {{ page }}</header>
		<div classname="main-container">
			<section classname="main-blocks">
				<div classname="central-block">
					<h1> ScoreApp: {{ page }}
					</h1>
					<ul></ul>
					<p> {{ message }} </p>
				</div>
				<div>
				</div>
			</section>
		</div>
		<footer> </footer>
	</body>
</html>
